<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.183;initial catalog=CDSBusiness;user id=devuser;password=pZQGcFcF7Ymw0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--<add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.72;initial catalog=CDSBusiness;user id=rouser;password=iToJD9rU6SugQaM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--<add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=uat-mndb01.merucabs.co.in;Initial Catalog=CDSBusiness;Integrated Security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="MerchantName" value="Meru" />
    <add key="MerchantLogo" value="/Content/app_icon.png" />
    <add key="Razor_Url" value="https://api.razorpay.com/v1" />
    <add key="ATVURL" value="https://manthandev.merucabs.com/Attestation/AttestateInfo.svc/rest/CheckToken" />
    <add key="CardAuthenticationCharge" value="100" />
    <!--IN PAISE-->
    <add key="CardAuthRefundNote" value="Card auth trans refund." />
    <add key="ProjectName" value="MeruPaymentWeb" />
    <add key="LogPath" value="D:\Logs\" />
    <add key="EnableDebugLog" value="true" />
    <add key="EmailErrorLog" value="false" />
    <add key="EmailErrorLogTo" value="muthu.nadar@meru.in" />
    <add key="InvalidChecksumMsg" value="Invalid request." />
    <add key="InvalidAuthTokenMsg" value="Invalid auth token." />
    <add key="successpaymsg" value="Payment successful Rs {1} Payment Id: {0}" />
    <add key="failurepaymsg" value="Payment Failed. {1} Please try again. Payment Id: {0} " />
    <add key="failurepaymsg1" value="Request Failed. Please try again." />
    <add key="cancelpaymsg" value="Request Cancelled. Please try again. Payment Id: {0} " />
    <add key="pendingpaymsg" value="Awaiting confirmation from bank. Please check after sometime. Payment Id: {0}" />
    <add key="AuthCard_SuccessMsg" value="Card added successfully for auto-charge. Amount deducted while adding card will be refunded back to your account." />
    <add key="AuthCard_FailureMsg" value="Request to add card for auto-charge is failed." />
    <add key="AuthCard_DupFailureMsg" value="Request to add card for auto-charge is failed." />
    <add key="AuthCard_CancelMsg" value="Request to add card for auto-charge is cancelled." />
    <add key="AuthCard_UnauthorisedMsg" value="Unauthorised or invalid request." />
    <add key="PayTM_CheckoutURL" value="/PaytmPayment" />
    <add key="PayTM_CallBackURL" value="/PaytmPaymentResponse" />
    <add key="Razor_CheckoutURL" value="/RazorPay/Checkout" />
    <add key="Razor_CallBackURL" value="/RazorPay/CheckoutResponse" />
    <add key="Meru_Industry" value="Travel" />
    <add key="RefundProcessingQueue" value="meruPaymentRefundQ" />
    <add key="EnableCardDuplicateCheck" value="true" />
    <!--MERUPAYMENT DEV-->
    <add key="MeruPayment_Host" value="http://localhost:55324" />
    <!--<add key="MeruPayment_Host" value="https://manthandev.merucabs.com/MeruPayment" />-->
    <add key="Meru_Secret" value="+ZvTt#+EMPrq#5wzt-67qE%TfhDy%s?a" />
    <add key="AES_IV" value="M32UM0b1L1TyPLT$" />
    <!--Length has to be 16-->
    <add key="AES_Salt" value="rtRtDMsmw$b2txZmAd-FBQ2ZgGce-r*x" />
    <add key="EnableAuthCard" value="false" />
    <add key="AuthCardDisableMsg" value="Adding card is temporarily down!!" />
    <!--MERUPAYMENT LIVE-->
    <!--<add key="MeruPayment_Host" value="https://mobileapp.merucabs.com/MeruPayment"/>
    <add key="Meru_Secret" value="MQEn%F$PHMYF+A#d6G?C9t^!xg8FYPVD"/>-->
    <!--RAZORPAY DEV-->
    <add key="Razor_Key_Id" value="rzp_test_EsrsfShLtqeVfU" />
    <add key="Razor_Key_Secret" value="VSrFg4jCiJCUnKrbpPWA2Dxa" />
    <add key="Razor_Webhook_Secret" value="12345" />
    <add key="Razor_Default_EmailId" value="muthu.nadar@meru.in" />
    <add key="Razor_CallBackURL" value="http://localhost:55324/RazorAddCardResponse" />
    <!--<add key="Razor_CallBackURL" value="https://manthandev.merucabs.com/MeruPayment/RazorPay/CheckoutResponse" />-->
    <!--RAZORPAY LIVE-->
    <!--<add key="Razor_Key_Id" value="rzp_live_ZuLwKmr51zQHGa" />
    <add key="Razor_Key_Secret" value="06AeluM6cb5x0RoN9TTe1YJn" />
    <add key="Razor_Webhook_Secret" value="rLy5=GwfEfz786+=xV-MPhad" />
    <add key="Razor_Default_EmailId" value="meru.razorpay@meru.in" />-->
    <!--<add key="Razor_CallBackURL" value="https://mobileapp.merucabs.com/MeruPayment/RazorPay/CheckoutResponse"/>-->
    <!--PAYTM DEV-->
    <add key="PayTM_MechantId" value="Meruca06356066993481" />
    <add key="PayTM_MerchantKey" value="mNgKAubrIQJ9NS1j" />
    <add key="PayTM_TransactionURL" value="https://securegw-stage.paytm.in/theia/processTransaction" />
    <add key="PayTM_TransactionStatusURL" value="https://securegw-stage.paytm.in/merchant-status/getTxnStatus" />
    <add key="PayTM_Website" value="meruwap" />
    <!--Staging Wallet Credentials:
Mobile Number – 7777777777
Password – Paytm12345
OTP – 489871-->
    <!--PAYTM LIVE-->
    <!--<add key="PayTM_MechantId" value="Merucb66092279845410" />
    <add key="PayTM_MerchantKey" value="2bqAuCbVgKf3K#Kc" />
    <add key="PayTM_TransactionURL" value="https://securegw.paytm.in/theia/processTransaction" />
    <add key="PayTM_TransactionStatusURL" value="https://securegw.paytm.in/merchant-status/getTxnStatus" />
    <add key="PayTM_Website" value="Meruwap"/>-->
    <!--RabbitMQ DEV-->
    <add key="RBMQUserName" value="admin" />
    <add key="RBMQPassword" value="cJ$@S6iPLxmAvy" />
    <add key="RBMQHostName" value="10.10.0.186" />
    <!--EMAIL DEV-->
    <add key="SMTPServer" value="smtp.sendgrid.net" />
    <add key="Port" value="587" />
    <add key="NoReplyEmailFrom" value="crs@merucabs.in" />
    <add key="EmailFromName" value="Meru Log Helper" />
    <add key="EmailUserName" value="suresh.devathi" />
    <add key="EmailPassword" value="Meru@1234!" />
    <add key="Timeout" value="300000" />
    <add key="EnableSSL" value="true" />
    <add key="enableCardBlocking" value="true" />
    <add key="IssuerCode" value="BARB" />
    <add key="NetworkName" value="debit" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
    <customErrors mode="Off">
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.9.0" newVersion="3.6.9.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>