<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MeruPaymentContext" connectionString="Data Source=10.10.0.183;Initial Catalog=CDSBusiness;User ID=devuser;Password=pZQGcFcF7Ymw0;" providerName="System.Data.SqlClient" />-->
    <add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.183;initial catalog=CDSBusiness;user id=devuser;password=pZQGcFcF7Ymw0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="Razor_Key_Id" value="rzp_test_EsrsfShLtqeVfU" />
    <add key="Razor_Key_Secret" value="VSrFg4jCiJCUnKrbpPWA2Dxa" />
    <add key="Razor_Url" value="https://api.razorpay.com/v1" />
    <add key="Razor_Key_Id" value="rzp_live_ZuLwKmr51zQHGa" />
    <add key="Razor_Key_Secret" value="06AeluM6cb5x0RoN9TTe1YJn" />
    <add key="Razor_Webhook_Secret" value="rLy5=GwfEfz786+=xV-MPhad" />
    <add key="Razor_Default_EmailId" value="meru.razorpay@meru.in" />
    <!--PAYTM DEV-->
    <add key="PayTM_MechantId" value="Meruca06356066993481" />
    <add key="PayTM_MerchantKey" value="mNgKAubrIQJ9NS1j" />
    <add key="PayTM_TransactionURL" value="https://securegw-stage.paytm.in/theia/processTransaction" />
    <add key="PayTM_TransactionStatusURL" value="https://securegw-stage.paytm.in/merchant-status/getTxnStatus" />
    <add key="PayTM_Website" value="meruwap" />
    <add key="ProjectName" value="MeruPaymentWeb" />
    <add key="LogPath" value="D:\Logs\" />
    <add key="EnableDebugLog" value="true" />
    <add key="EmailErrorLog" value="true" />
    <add key="EmailErrorLogTo" value="muthu.nadar@meru.in" />
    <!--EMAIL DEV-->
    <add key="SMTPServer" value="smtp.sendgrid.net" />
    <add key="Port" value="587" />
    <add key="NoReplyEmailFrom" value="crs@merucabs.in" />
    <add key="EmailFromName" value="Meru Log Helper" />
    <add key="EmailUserName" value="suresh.devathi" />
    <add key="EmailPassword" value="Meru@1234!" />
    <add key="Timeout" value="300000" />
    <add key="EnableSSL" value="true" />
    <add key="AES_IV" value="M32UM0b1L1TyPLT$" />
    <!--Length has to be 16-->
    <add key="AES_Salt" value="rtRtDMsmw$b2txZmAd-FBQ2ZgGce-r*x" />
    <add key="DailyTransactionCountLimit" value="3" />
    <add key="DailyTransactionAmountLimit" value="5000" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.9.0" newVersion="3.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>