<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="MeruPaymentContext" connectionString="Data Source=10.10.0.183;Initial Catalog=CDSBusiness;User ID=devuser;Password=pZQGcFcF7Ymw0;" providerName="System.Data.SqlClient" />-->
	  <!--   <add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.183;initial catalog=CDSBusiness;user id=devuser;password=pZQGcFcF7Ymw0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	<!-- <add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.72;initial catalog=CDSBusiness;user id=rouser;password=iToJD9rU6SugQaM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	  <add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.72;initial catalog=CDSBusiness;user id=appadmin;password=l0R2Mci9pT3x4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />

  </connectionStrings>
  <appSettings>
    <add key="WebhookHeaderName" value="X-Razorpay-Signature" />
    <add key="ResourcesToProcess" value="com.meru.merumobile,com.merucabs.dis,CDSWalletPaymentDebitService,CreditEnforcementService,meru_partner,shikhar" />
    <!--<add key="Razor_Key_Id" value="rzp_test_EsrsfShLtqeVfU" />
    <add key="Razor_Key_Secret" value="VSrFg4jCiJCUnKrbpPWA2Dxa" />
    <add key="Razor_Webhook_Secret" value="12345" />-->
    <add key="LogPath" value="D:\Logs\" />
    <add key="appName" value="MeruPaymentAppEx" />

    <add key="Razor_Key_Id" value="rzp_live_ZuLwKmr51zQHGa" />
    <add key="Razor_Key_Secret" value="06AeluM6cb5x0RoN9TTe1YJn" />
    <add key="Razor_Webhook_Secret" value="rLy5=GwfEfz786+=xV-MPhad" />
    <add key="Razor_Default_EmailId" value="meru.razorpay@meru.in" />

    <!--PAYTM DEV-->
    <add key="PayTM_MechantId" value="Meruca06356066993481" />
    <add key="PayTM_MerchantKey" value="mNgKAubrIQJ9NS1j" />
    <add key="PayTM_TransactionURL" value="https://securegw-stage.paytm.in/theia/processTransaction" />
    <add key="PayTM_TransactionStatusURL" value="https://securegw-stage.paytm.in/merchant-status/getTxnStatus" />
    <add key="PayTM_Website" value="meruwap" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-13.0.0.0" newVersion="13.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="RabbitMQ.Client" publicKeyToken="89e7d7c5feba84ce" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.6.9.0" newVersion="3.6.9.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>