<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
	  <!--<add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.72;initial catalog=CDSBusiness;user id=appadmin;password=l0R2Mci9pT3x4;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	 <add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.183;initial catalog=CDSBusiness;user id=devuser;password=pZQGcFcF7Ymw0;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
	<!--<add name="CDSBusinessEntities" connectionString="metadata=res://*/EntityModel.MeruPaymentEntityModel.csdl|res://*/EntityModel.MeruPaymentEntityModel.ssdl|res://*/EntityModel.MeruPaymentEntityModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.0.72;initial catalog=CDSBusiness;user id=rouser;password=iToJD9rU6SugQaM;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
  </connectionStrings>
  <appSettings>
    <add key="MerchantName" value="Meru" />
    <add key="MerchantLogo" value="https://mobileapp.merucabs.com/MeruPayment/Content/app_icon.png" />
    <add key="Razor_Url" value="https://api.razorpay.com/v1" />
    <add key="ATVURL" value="https://manthandev.merucabs.com/Attestation/AttestateInfo.svc/rest/CheckToken" />
    <add key="ProjectName" value="MeruPayment" />
    <add key="LogPath" value="D:\Logs\" />
    <add key="EnableDebugLog" value="true" />
    <add key="EmailErrorLog" value="true" />
    <add key="EmailErrorLogTo" value="muthu.nadar@meru.in" />
    <add key="successpaymsg" value="Payment successful Rs {1} Payment Id: {0}" />
    <add key="failurepaymsg" value="Payment Failed. {1} Please try again. Payment Id: {0} " />
    <add key="failurepaymsg1" value="Request Failed. Please try again." />
    <add key="cancelpaymsg" value="Request Cancelled. Please try again. Payment Id: {0} " />
    <add key="pendingpaymsg" value="Awaiting confirmation from bank. Please check after sometime. Payment Id: {0}" />
    <!--MERUPAYMENT DEV-->
    <add key="MeruPayment_Host" value="http://localhost:50585" />
    <!--<add key="MeruPayment_Host" value="https://manthandev.merucabs.com/MeruPayment" />-->
    <add key="Meru_Secret" value="+ZvTt#+EMPrq#5wzt-67qE%TfhDy%s?a" />
    <add key="AES_IV" value="M32UM0b1L1TyPLT$" />
    <!--Length has to be 16-->
    <add key="AES_Salt" value="rtRtDMsmw$b2txZmAd-FBQ2ZgGce-r*x" />
	
    <!--RAZORPAY DEV-->
    <add key="Razor_Key_Id" value="rzp_test_EsrsfShLtqeVfU" />
    <add key="Razor_Key_Secret" value="VSrFg4jCiJCUnKrbpPWA2Dxa" />
    <add key="Razor_Webhook_Secret" value="12345" />
    <add key="Razor_Default_EmailId" value="muthu.nadar@meru.in" />
    <!--<add key="Razor_CallBackURL" value="http://localhost:50585/RazorPay/CheckoutResponse" />-->
    <add key="Razor_CallBackURL" value="https://manthandev.merucabs.com/MeruPayment/RazorPay/CheckoutResponse" />
    <!--EMAIL DEV-->
    <add key="SMTPServer" value="smtp.sendgrid.net" />
    <add key="Port" value="587" />
    <add key="NoReplyEmailFrom" value="crs@merucabs.in" />
    <add key="EmailFromName" value="Meru Log Helper" />
    <add key="EmailUserName" value="suresh.devathi" />
    <add key="EmailPassword" value="Meru@1234!" />
    <add key="Timeout" value="300000" />
    <add key="EnableSSL" value="true" />
    <add key="DailyTransactionCountLimit" value="3" />
    <add key="DailyTransactionAmountLimit" value="5000" />
    <add key="DailyTransactionAmountLimitOverall" value="500000" />
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <!-- fix for razor runtime after upgrade to vs 2015-->
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  
<system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer></configuration>